.wrapper {
    width: 95%;
    background-color: #fff;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 41px;

    margin: 8px 0;
    padding: 0 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: move;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.10);
}

.wrapper__text {
    display: flex;
    align-items: center;
}

.wrapper__icon,
.wrapper__icon {
    display: flex;
    align-items: center;
}

.item {
    color: #000000;
}


.done {
    text-decoration-line: line-through;
    color: #CCC;
}

.deleteIcon {
    cursor: pointer;
    color: #CCC;
    outline: none;
    transition: .5s;
}

.wrapper:hover .deleteIcon {
    color: darkgrey;
    transition: .5s;
}

.importantIcon {
    padding-right: 10px;
    cursor: pointer;
    color: #CCC;
    transition: .5s;
}

.isImportant {
    color: #FFCE73;
    border-color: #FFCE73;
}

.wrapper:hover .importantIcon {
    color: #FFA500;
    transition: .5s;
}

.importantIcon:active {
    color: orangered;
}

@media (max-width: 625px) {
    .wrapper {
        padding: 2px 8px;
    }
    .item {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .item {
        font-size: 12px;
    }
    .MuiSvgIcon-root {
        font-size: 2rem;
    }
    .MuiSvgIcon-fontSizeLarge {
        font-size: 2rem;
    }
}


